.fading-enter {
  opacity: 0.01;
}

.fading-enter.fading-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fading-exit {
  opacity: 1;
}

.fading-exit.fading-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.fading-appear {
  opacity: 0.01;
}

.fading-appear.fading-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
